body{
    background-image: url("https://wallpapercave.com/wp/wp5475495.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%
}